In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Specify the file path
file_path = 'hcmst2017to2022.csv'

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

# Change string numeric values to actual numeric values
for column in df.columns:
    df[column] = pd.to_numeric(df[column], errors='coerce')

# Display the DataFrame
#print(df.columns)

# Specify the column names you want to print
columns_to_print = ['caseid_new', 'w1_section', 'w2_section', 'w3_section', 'w1_partyid7', 'w1_q12']

# Print the specified columns
print(df[columns_to_print])

      caseid_new  w1_section  w2_section  w3_section  w1_partyid7  w1_q12
0          53001           1         2.0         3.0          6.0     1.0
1          71609           1         1.0         1.0          3.0     3.0
2         106983           1         1.0         1.0          7.0     7.0
3         121759           1         1.0         NaN          2.0     4.0
4         158083           2         6.0         6.0          3.0     2.0
...          ...         ...         ...         ...          ...     ...
3505     2967957           1         NaN         NaN          7.0     6.0
3506     2968357           1         NaN         NaN          3.0     4.0
3507     2968971           1         NaN         NaN          5.0     4.0
3508     2969933           1         NaN         NaN          6.0     7.0
3509     2972135           1         NaN         NaN          3.0     5.0

[3510 rows x 6 columns]

In [18]:
# looking at possible values for each col
print(df['w1_section'].unique())  # possible values for relationship status in wave 1
print(df['w2_section'].unique())  # possible values for relationship status in wave 2
print(df['w3_section'].unique())  # possible values for relationship status in wave 3
#print(df['w1_partyid7'].unique()) # possible values for respondent's political party
#print(df['w1_q12'].unique()) # possible values for partner's political party
print(df['w3_partner_source'].unique())
print(df['w1_q5'].unique())

[1 2 3]
[ 2.  1.  6.  3. nan  5.  4.]
[ 3.  1. nan  6.  5.  4.  2.]
[ 2.  1. nan  3.]
[nan  2.  1.]

In [19]:
# lets start by looking at all the couples that have stayed together through wave 1, 2, and 3

condition1 = df['w1_section'] == 1 # those who were partenered in 2017
condition2 = df['w2_section'] == 1 # who are still married to the same partner in wave 2
condition3 = df['w2_section'] == 3 # or still partnered with that same partner but not married (but still together) in wave 2 

# (note that we are not looking at those with new partners in w2/w3)
condition4 = df['w3_section'] == 1 # who are still married to the same partner in wave 3
condition5 = df['w3_section'] == 3 # or still partnered with that same partner but not married (but still together) in wave 2
condition6 = df['w3_partner_source'] == 1 # same partner from w1


# Combine conditions using boolean AND (&)
stayed_with_same_partner_fromw1 = condition1 & (condition2 | condition3) & (condition4 | condition5) & condition6

# Filter rows based on the combined condition and print the specified columns
filtered_rows = df.loc[stayed_with_same_partner_fromw1, columns_to_print]

# Print the filtered rows
print(filtered_rows)

      caseid_new  w1_section  w2_section  w3_section  w1_partyid7  w1_q12
1          71609           1         1.0         1.0          3.0     3.0
2         106983           1         1.0         1.0          7.0     7.0
5         164061           1         1.0         1.0          2.0     2.0
7         212249           1         1.0         1.0          1.0     1.0
8         214227           1         1.0         1.0          3.0     6.0
...          ...         ...         ...         ...          ...     ...
3438     2958163           1         1.0         1.0          3.0     3.0
3448     2959699           1         1.0         1.0          5.0     6.0
3459     2961175           1         1.0         1.0          2.0     6.0
3460     2961203           1         1.0         1.0          1.0     1.0
3486     2964987           1         1.0         1.0          1.0     1.0

[1096 rows x 6 columns]

Once again - can see 1096 couples stayed together throughout w3

In [20]:
same_sex_couplew1 = df['w1_same_sex_couple'] == 1 # same sex couple
combined_condition2 = stayed_with_same_partner_fromw1 & same_sex_couplew1

columns_to_print_income = ['caseid_new', 'w1_ppgender', 'w1_same_sex_couple','w1_q23', 'w1_ppincimp', 'w2_income_real', 'w3_real_inc']
# Filter rows based on the combined condition and print the specified columns
filtered_rows_same_sex_stayed_throughW3Income = df.loc[combined_condition2, columns_to_print_income]

# Print the filtered rows
print(filtered_rows_same_sex_stayed_throughW3Income)

      caseid_new  w1_ppgender  w1_same_sex_couple  w1_q23  w1_ppincimp  \
193       882717            1                 1.0     1.0           16
743      1739387            2                 1.0     1.0           16
762      1756667            1                 1.0     3.0           17
800      1785191            1                 1.0     1.0           16
801      1785549            2                 1.0     3.0           16
...          ...          ...                 ...     ...          ...
2704     2782309            1                 1.0     3.0           11
2714     2785079            1                 1.0     3.0            7
2727     2789327            1                 1.0     3.0           18
3268     2930211            1                 1.0     3.0            7
3338     2943301            1                 1.0     1.0           20

      w2_income_real  w3_real_inc
193          92500.0      80000.0
743         137500.0     112500.0
762         162500.0     162500.0
800          67500.0     112500.0
801          67500.0     162500.0
...              ...          ...
2704         55000.0      67500.0
2714        137500.0      45000.0
2727        187500.0      92500.0
3268         22500.0      22500.0
3338         92500.0      80000.0

[64 rows x 7 columns]

In [21]:
# let's start with hetero couples
not_same_sex_couplew1 = df['w1_same_sex_couple'] == 0 # same sex couple
combined_condition3 = not_same_sex_couplew1 & stayed_with_same_partner_fromw1

columns_to_print_income_het = ['caseid_new', 'w1_ppgender', 'w1_q4','w1_q23', 'w1_ppincimp', 'w2_income_real', 'w3_real_inc']
# print out the case id, respondent's gender, partner's gender, who earned more, household incomes for every wave surveyed
# Filter rows based on the combined condition and print the specified columns
filtered_rows_het_stayed_throughW3Income = df.loc[combined_condition3, columns_to_print_income_het]

# Print the filtered rows
print(filtered_rows_het_stayed_throughW3Income)

      caseid_new  w1_ppgender  w1_q4  w1_q23  w1_ppincimp  w2_income_real  \
1          71609            2    1.0     3.0           12         67500.0
2         106983            1    2.0     1.0           15         92500.0
5         164061            1    2.0     1.0           15        112500.0
7         212249            2    1.0     3.0           12         55000.0
8         214227            2    1.0     3.0           11         45000.0
...          ...          ...    ...     ...          ...             ...
3438     2958163            2    1.0     3.0           16        137500.0
3448     2959699            1    2.0     1.0           12         55000.0
3459     2961175            2    1.0     3.0           15        112500.0
3460     2961203            1    2.0     1.0           12         55000.0
3486     2964987            2    1.0     3.0           13         67500.0

      w3_real_inc
1         80000.0
2         80000.0
5         80000.0
7         80000.0
8         55000.0
...           ...
3438     162500.0
3448      55000.0
3459     112500.0
3460     112500.0
3486     137500.0

[1032 rows x 7 columns]

In [22]:
# 1032/1096 couples were diff sex couples
# let's look at the amount of couples that stayed together where they earned around the same

# so now let's look at couples who are the furthest away from each other on the political spectrum

het_both_earned_same = df['w1_q23'] == 2 # earned the same

# Combine conditions using boolean AND (&)
combined_condition4 = not_same_sex_couplew1 & stayed_with_same_partner_fromw1 & het_both_earned_same
# Filter rows based on the combined condition and print the specified columns
filtered_rows_het_stayedThroughW3_earnedSame = df.loc[combined_condition4, columns_to_print_income_het]

# Print the filtered rows
print(filtered_rows_het_stayedThroughW3_earnedSame)

# Group by 'w1_ppincimp' and calculate counts in each group
filtered_rows_het_stayedThroughW3_earnedSame_grouped_data = filtered_rows_het_stayedThroughW3_earnedSame.groupby('w1_ppincimp').size().reset_index(name='count')

# Print the grouped data
print(filtered_rows_het_stayedThroughW3_earnedSame_grouped_data)

      caseid_new  w1_ppgender  w1_q4  w1_q23  w1_ppincimp  w2_income_real  \
42        632253            1    2.0     2.0           18        112500.0
49        646023            2    1.0     2.0           14         67500.0
73        704661            2    1.0     2.0           16        112500.0
120       775045            2    1.0     2.0           15         22500.0
127       783399            2    1.0     2.0           15         92500.0
...          ...          ...    ...     ...          ...             ...
2941     2855435            1    2.0     2.0           15         92500.0
2946     2856247            2    1.0     2.0           16         55000.0
3169     2912135            2    1.0     2.0           16        112500.0
3339     2943311            1    2.0     2.0           16         67500.0
3344     2943697            1    2.0     2.0           13        112500.0

      w3_real_inc
42        92500.0
49       225000.0
73        92500.0
120       55000.0
127       92500.0
...           ...
2941      80000.0
2946      55000.0
3169      80000.0
3339      92500.0
3344     112500.0

[108 rows x 7 columns]
    w1_ppincimp  count
0             1      1
1             2      2
2             5      1
3             6      2
4             7      1
5             8      2
6             9      3
7            10      5
8            11      6
9            12     13
10           13      8
11           14      8
12           15     13
13           16     19
14           17      5
15           18      7
16           19      4
17           20      5
18           21      3

108/1032 het couples that stayed together throughout w3 made around the same

In [23]:
# let's look at the het couples where respondent = male, respondent earned more
respondent_male = df['w1_ppgender'] == 1 # male respondent
partner_earned_more = df['w1_q23'] = 1 # respondent earned more

combined_condition5 = not_same_sex_couplew1 & stayed_with_same_partner_fromw1 & respondent_male & partner_earned_more

columns_to_print_income2 = ['caseid_new', 'w1_ppgender', 'w1_ppincimp', 'w2_income_real', 'w3_real_inc']

# Filter rows based on the combined condition and print the specified columns
filtered_rows_het_stayedThroughW3_maleRespondent_respEarnedMore = df.loc[combined_condition5, columns_to_print_income2]

# Print the filtered rows
print(filtered_rows_het_stayedThroughW3_maleRespondent_respEarnedMore)

# Group by 'w1_ppincimp' and calculate counts in each group
filtered_rows_het_stayedThroughW3_maleRespondent_respEarnedMore_grouped_data = filtered_rows_het_stayedThroughW3_maleRespondent_respEarnedMore.groupby('w1_ppincimp').size().reset_index(name='count')

# Print the grouped data
print(filtered_rows_het_stayedThroughW3_maleRespondent_respEarnedMore_grouped_data)

      caseid_new  w1_ppgender  w1_ppincimp  w2_income_real  w3_real_inc
2         106983            1           15         92500.0      80000.0
5         164061            1           15        112500.0      80000.0
9         218351            1           14         45000.0      45000.0
10        220655            1            8         37500.0      32500.0
16        497203            1           15         92500.0      92500.0
...          ...          ...          ...             ...          ...
3344     2943697            1           13        112500.0     112500.0
3387     2948891            1           16        162500.0     162500.0
3398     2950149            1            6         37500.0      45000.0
3448     2959699            1           12         55000.0      55000.0
3460     2961203            1           12         55000.0     112500.0

[590 rows x 5 columns]
    w1_ppincimp  count
0             2      1
1             3      2
2             4      5
3             5      1
4             6      6
5             7      7
6             8     18
7             9     16
8            10     17
9            11     28
10           12     45
11           13     63
12           14     47
13           15     49
14           16     92
15           17     45
16           18     54
17           19     35
18           20     28
19           21     31

590/1032 het couples that stayed together through w3, resp = male and resp earned more

In [24]:
# let's look at the het couples where respondent = female, respondent earned more
respondent_female = df['w1_ppgender'] == 2 # female respondent

combined_condition6 = not_same_sex_couplew1 & stayed_with_same_partner_fromw1 & respondent_female & partner_earned_more

# Filter rows based on the combined condition and print the specified columns
filtered_rows_het_stayedThroughW3_femaleRespondent_respEarnedMore = df.loc[combined_condition6, columns_to_print_income2]

# Print the filtered rows
print(filtered_rows_het_stayedThroughW3_femaleRespondent_respEarnedMore)

      caseid_new  w1_ppgender  w1_ppincimp  w2_income_real  w3_real_inc
1          71609            2           12         67500.0      80000.0
7         212249            2           12         55000.0      80000.0
8         214227            2           11         45000.0      55000.0
11        291177            2            9         32500.0      45000.0
13        369975            2           11         32500.0      45000.0
...          ...          ...          ...             ...          ...
3401     2951535            2           13          2500.0      37500.0
3402     2951689            2           16         92500.0     112500.0
3438     2958163            2           16        137500.0     162500.0
3459     2961175            2           15        112500.0     112500.0
3486     2964987            2           13         67500.0     137500.0

[442 rows x 5 columns]

In [25]:
# Group by 'w1_ppincimp' and calculate counts in each group
filtered_rows_het_stayedThroughW3_femaleRespondent_respEarnedMore_grouped_data = filtered_rows_het_stayedThroughW3_femaleRespondent_respEarnedMore.groupby('w1_ppincimp').size().reset_index(name='count')

# Print the grouped data
print(filtered_rows_het_stayedThroughW3_femaleRespondent_respEarnedMore_grouped_data)

    w1_ppincimp  count
0             1      4
1             2      2
2             3      2
3             4      5
4             5      3
5             6      6
6             7      9
7             8      8
8             9     14
9            10     17
10           11     26
11           12     43
12           13     41
13           14     35
14           15     36
15           16     82
16           17     29
17           18     31
18           19     24
19           20     15
20           21     10

In [26]:
f1 = filtered_rows_het_stayedThroughW3_maleRespondent_respEarnedMore_grouped_data['count'].values
f1arrStr = np.array2string(f1, separator=',')
print(f1arrStr)

f2 = filtered_rows_het_stayedThroughW3_femaleRespondent_respEarnedMore_grouped_data['count'].values
f2arrStr = np.array2string(f2, separator=',')
print(f2arrStr)

# check for those earn the same

[ 1, 2, 5, 1, 6, 7,18,16,17,28,45,63,47,49,92,45,54,35,28,31]
[ 4, 2, 2, 5, 3, 6, 9, 8,14,17,26,43,41,35,36,82,29,31,24,15,10]

In [27]:
# Create an empty dictionary to store counts for each column
column_value_counts = {}

# Iterate through each column in the DataFrame
for column in df.columns:
    # Calculate value counts for the current column
    value_counts = df[column].value_counts()
    # Store the value counts in the dictionary
    column_value_counts[column] = value_counts

# Print the value counts for each column
for column, value_counts in column_value_counts.items():
    print(f"Value counts for column '{column}':\n{value_counts}\n")

Value counts for column 'caseid_new':
caseid_new
53001      1
2613043    1
2606713    1
2606759    1
2606945    1
          ..
1960835    1
1961301    1
1962937    1
1963165    1
2972135    1
Name: count, Length: 3510, dtype: int64

Value counts for column 'w3_Weight':
w3_Weight
0.5571    14
4.1723    13
0.2825    12
0.5554     7
0.4221     6
          ..
1.6165     1
0.9269     1
0.8731     1
1.5703     1
2.4460     1
Name: count, Length: 1242, dtype: int64

Value counts for column 'w3_Weight_LGB':
w3_Weight_LGB
0.4037    3
0.2168    3
1.0008    2
0.1314    2
0.1487    2
         ..
1.1326    1
0.6379    1
0.5680    1
1.3495    1
0.8863    1
Name: count, Length: 234, dtype: int64

Value counts for column 'w3_combo_weight':
w3_combo_weight
0.624008    14
4.673395    12
0.316428    12
0.622104     7
0.472794     6
            ..
0.983896     1
1.128613     1
1.885465     1
1.510344     1
2.739766     1
Name: count, Length: 1435, dtype: int64

Value counts for column 'w3_attrition_adj_weight':
w3_attrition_adj_weight
0.663721    3
0.428622    3
0.408430    2
0.295652    2
1.209751    2
           ..
0.755024    1
0.940599    1
0.208963    1
0.762118    1
2.476587    1
Name: count, Length: 1715, dtype: int64

Value counts for column 'w2_weight_genpop':
w2_weight_genpop
0.6540    17
0.7191    11
1.0687     8
0.6955     8
4.0300     7
          ..
0.9725     1
0.7033     1
0.8863     1
0.6555     1
1.5997     1
Name: count, Length: 1460, dtype: int64

Value counts for column 'w2_weight_LGB':
w2_weight_LGB
0.4103    3
1.0606    3
6.2092    3
0.1824    3
0.3266    2
         ..
0.5018    1
2.4442    1
0.8671    1
0.3955    1
1.0682    1
Name: count, Length: 305, dtype: int64

Value counts for column 'w2_combo_weight':
w2_combo_weight
0.742313    17
0.816204    10
1.213012     8
0.789417     8
4.574192     7
            ..
0.728920     1
1.566348     1
0.956040     1
1.522650     1
0.337728     1
Name: count, Length: 1719, dtype: int64

Value counts for column 'w2_attrition_adj_weights':
w2_attrition_adj_weights
0.568122    3
0.549596    2
0.759437    2
0.912276    2
0.728464    2
           ..
0.704483    1
1.507571    1
0.649883    1
1.426566    1
0.308992    1
Name: count, Length: 2097, dtype: int64

Value counts for column 'w1_weight_combo':
w1_weight_combo
0.804986    23
0.810074    22
0.976522    19
0.749353    18
0.780562    15
            ..
1.441941     1
1.095930     1
0.784519     1
0.473335     1
1.715531     1
Name: count, Length: 1751, dtype: int64

Value counts for column 'w1_weight_combo_freqwt':
w1_weight_combo_freqwt
55874     23
56227     22
67781     19
52013     18
54179     15
          ..
100085     1
76069      1
54454      1
32854      1
119075     1
Name: count, Length: 1751, dtype: int64

Value counts for column 'w3_xpartner_type':
w3_xpartner_type
1    2076
2     700
3     633
4     101
Name: count, dtype: int64

Value counts for column 'w3_xlast_contact_year':
w3_xlast_contact_year
2020    2107
2017    1403
Name: count, dtype: int64

Value counts for column 'w3_xcohab':
w3_xcohab
1.0    2414
2.0     381
Name: count, dtype: int64

Value counts for column 'w3_xsamesex':
w3_xsamesex
2.0    2759
1.0     236
Name: count, dtype: int64

Value counts for column 'w3_xlast_contact_mo':
w3_xlast_contact_mo
9     2027
7     1402
10      80
8        1
Name: count, dtype: int64

Value counts for column 'w3_xnamep_present':
w3_xnamep_present
1    2994
0     516
Name: count, dtype: int64

Value counts for column 'w3_duration':
w3_duration
5.52     7
8.55     7
4.82     6
7.21     6
4.53     6
        ..
14.16    1
7.05     1
17.57    1
16.59    1
2.64     1
Name: count, Length: 1088, dtype: int64

Value counts for column 'w3_gen_pop_sample':
w3_gen_pop_sample
1.0    1539
0.0     183
Name: count, dtype: int64

Value counts for column 'w3_ppage':
w3_ppage
60.0    53
62.0    52
59.0    52
66.0    49
68.0    48
        ..
97.0     1
91.0     1
98.0     1
93.0     1
22.0     1
Name: count, Length: 73, dtype: int64

Value counts for column 'w3_ppagecat':
w3_ppagecat
5.0    423
6.0    355
4.0    245
3.0    232
2.0    228
7.0    210
1.0     29
Name: count, dtype: int64

Value counts for column 'w3_ppagect4':
w3_ppagect4
4.0    787
3.0    446
2.0    401
1.0     88
Name: count, dtype: int64

Value counts for column 'w3_ppeduc':
w3_ppeduc
9.0     411
12.0    410
10.0    292
13.0    243
11.0    185
14.0     89
7.0      24
6.0      20
8.0      18
4.0      10
5.0       9
3.0       5
1.0       3
2.0       3
Name: count, dtype: int64

Value counts for column 'w3_ppeducat':
w3_ppeducat
4.0    742
3.0    477
2.0    411
1.0     92
Name: count, dtype: int64

Value counts for column 'w3_ppethm':
w3_ppethm
1.0    1300
4.0     180
2.0     145
3.0      59
5.0      38
Name: count, dtype: int64

Value counts for column 'w3_ppgender':
w3_ppgender
1.0    949
2.0    773
Name: count, dtype: int64

Value counts for column 'w3_pphhhead':
w3_pphhhead
1.0    1472
0.0     250
Name: count, dtype: int64

Value counts for column 'w3_pphhsize':
w3_pphhsize
2.0     740
1.0     396
3.0     289
4.0     175
5.0      74
6.0      34
7.0       8
10.0      3
8.0       2
12.0      1
Name: count, dtype: int64

Value counts for column 'w3_pphouse':
w3_pphouse
1.0    1304
3.0     204
2.0     156
4.0      54
5.0       4
Name: count, dtype: int64

Value counts for column 'w3_ppincimp':
w3_ppincimp
16.0    206
13.0    158
15.0    147
14.0    142
17.0    136
11.0    122
12.0    109
18.0    100
21.0     86
19.0     81
20.0     69
7.0      59
10.0     59
9.0      58
6.0      45
8.0      35
1.0      32
4.0      24
5.0      21
3.0      18
2.0      15
Name: count, dtype: int64

Value counts for column 'w3_real_inc':
w3_real_inc
112500.0    206
67500.0     158
92500.0     147
80000.0     142
137500.0    136
45000.0     122
55000.0     109
162500.0    100
300000.0     86
187500.0     81
225000.0     69
22500.0      59
37500.0      59
32500.0      58
17500.0      45
27500.0      35
2500.0       32
11250.0      24
13750.0      21
8750.0       18
6250.0       15
Name: count, dtype: int64

Value counts for column 'w3_log_real_inc':
w3_log_real_inc
11.572550    206
11.061724    158
11.376805    147
11.231623    142
11.773220    136
10.656259    122
10.856930    109
11.940274    100
12.553379     86
12.083375     81
12.265697     69
9.963112      59
10.473937     59
10.330836     58
9.711798      45
10.163782     35
7.765887      32
9.269964      24
9.470635      21
9.018650      18
8.682178      15
Name: count, dtype: int64

Value counts for column 'w3_ppmarit':
w3_ppmarit
1.0    1057
5.0     286
3.0     165
2.0     107
6.0      79
4.0      28
Name: count, dtype: int64

Value counts for column 'w3_ppmsacat':
w3_ppmsacat
1.0    1486
0.0     236
Name: count, dtype: int64

Value counts for column 'w3_PPREG4':
w3_PPREG4
3.0    617
2.0    401
4.0    387
1.0    317
Name: count, dtype: int64

Value counts for column 'w3_ppreg9':
w3_ppreg9
5.0    377
3.0    269
9.0    262
2.0    234
7.0    159
4.0    132
8.0    125
1.0     83
6.0     81
Name: count, dtype: int64

Value counts for column 'w3_pprent':
w3_pprent
1.0    1406
2.0     289
3.0      27
Name: count, dtype: int64

Value counts for column 'w3_PPT01':
w3_PPT01
0.0    1660
1.0      58
2.0       4
Name: count, dtype: int64

Value counts for column 'w3_PPT25':
w3_PPT25
0.0    1627
1.0      81
2.0      14
Name: count, dtype: int64

Value counts for column 'w3_PPT612':
w3_PPT612
0.0    1558
1.0     109
2.0      42
3.0      12
6.0       1
Name: count, dtype: int64

Value counts for column 'w3_total_kids_lt13':
w3_total_kids_lt13
0.0    1488
1.0     115
2.0      80
3.0      26
4.0      11
8.0       1
5.0       1
Name: count, dtype: int64

Value counts for column 'w3_PPT1317':
w3_PPT1317
0.0    1589
1.0     106
2.0      25
3.0       2
Name: count, dtype: int64

Value counts for column 'w3_PPT18OV':
w3_PPT18OV
2.0     945
1.0     414
3.0     256
4.0      71
5.0      25
6.0       5
7.0       4
12.0      1
8.0       1
Name: count, dtype: int64

Value counts for column 'w3_ppwork':
w3_ppwork
1.0    853
5.0    531
2.0    132
7.0     92
6.0     60
4.0     47
3.0      7
Name: count, dtype: int64

Value counts for column 'w3_surveyed':
w3_surveyed
0    1788
1    1722
Name: count, dtype: int64

Value counts for column 'w3_section':
w3_section
1.0    1042
6.0     322
3.0     201
5.0      64
4.0      54
2.0      39
Name: count, dtype: int64

Value counts for column 'w3_partner_type':
w3_partner_type
4    1788
1    1061
3     385
2     276
Name: count, dtype: int64

Value counts for column 'w3_married':
w3_married
1.0    1061
0.0     661
Name: count, dtype: int64

Value counts for column 'w3_otherdate':
w3_otherdate
0.0    322
1.0     99
Name: count, dtype: int64

Value counts for column 'w3_coronavirus_effect_combo':
w3_coronavirus_effect_combo
2.0    1017
1.0     239
3.0      72
Name: count, dtype: int64

Value counts for column 'w3_corona_effect_combo_reversed':
w3_corona_effect_combo_reversed
2.0    1017
3.0     239
1.0      72
Name: count, dtype: int64

Value counts for column 'w3_live_w_partner':
w3_live_w_partner
1.0    1202
0.0     135
Name: count, dtype: int64

Value counts for column 'w3_same_sex_couple':
w3_same_sex_couple
0.0    1245
1.0      92
Name: count, dtype: int64

Value counts for column 'w3_marriage_dp':
w3_marriage_dp
1.0    61
2.0    20
3.0    10
Name: count, dtype: int64

Value counts for column 'w3_mar_dp_why_words':
w3_mar_dp_why_words
3.0     11
9.0      7
12.0     7
14.0     7
8.0      5
11.0     5
4.0      4
2.0      4
15.0     3
10.0     3
6.0      3
17.0     2
16.0     2
24.0     2
7.0      2
5.0      2
26.0     2
13.0     2
1.0      2
42.0     1
22.0     1
32.0     1
18.0     1
40.0     1
94.0     1
Name: count, dtype: int64

Value counts for column 'w3_mar_dp_why_len':
w3_mar_dp_why_len
20.0     5
18.0     4
42.0     3
57.0     2
46.0     2
        ..
212.0    1
90.0     1
37.0     1
74.0     1
22.0     1
Name: count, Length: 61, dtype: int64

Value counts for column 'w3_mar_dp_why_sum':
w3_mar_dp_why_sum
1.0    55
2.0    14
0.0     7
3.0     5
Name: count, dtype: int64

Value counts for column 'w3_rel_qual':
w3_rel_qual
1.0    691
2.0    505
3.0    106
4.0     29
5.0      6
Name: count, dtype: int64

Value counts for column 'w3_Q23':
w3_Q23
1.0    534
3.0    514
2.0    174
4.0    135
Name: count, dtype: int64

Value counts for column 'w3_sex_frequency':
w3_sex_frequency
5.0    554
3.0    297
4.0    279
2.0    104
1.0     23
Name: count, dtype: int64

Value counts for column 'w3_weekly_sex_frequency':
w3_weekly_sex_frequency
0.250    554
1.500    297
0.625    279
4.500    104
8.000     23
Name: count, dtype: int64

Value counts for column 'w3_how_many':
w3_how_many
1.0    51
2.0    43
3.0     3
5.0     2
Name: count, dtype: int64

Value counts for column 'w3_how_many_corona':
w3_how_many_corona
2.0    206
3.0    131
1.0     14
Name: count, dtype: int64

Value counts for column 'w3_p_monogamy':
w3_p_monogamy
1.0    1244
0.0      54
Name: count, dtype: int64

Value counts for column 'w3_monogamy':
w3_monogamy
1.0    1235
0.0      64
Name: count, dtype: int64

Value counts for column 'w3_past_partners_gender_1':
w3_past_partners_gender_1
0.0       648
1.0       200
3.0       105
2.0       105
5.0        69
4.0        57
10.0       57
6.0        45
8.0        31
20.0       30
7.0        21
12.0       18
50.0       17
25.0       16
30.0       15
15.0       13
100.0      11
11.0       11
9.0        10
35.0        6
14.0        5
40.0        4
60.0        4
18.0        3
24.0        3
17.0        3
75.0        2
150.0       2
13.0        2
70.0        1
19.0        1
23.0        1
205.0       1
43.0        1
55.0        1
120.0       1
22.0        1
84.0        1
132.0       1
28.0        1
138.0       1
36.0        1
31.0        1
49.0        1
1000.0      1
27.0        1
570.0       1
16.0        1
26.0        1
57.0        1
Name: count, dtype: int64

Value counts for column 'w3_past_partners_gender_2':
w3_past_partners_gender_2
0.0       697
1.0       186
2.0        87
5.0        83
3.0        77
4.0        68
10.0       55
6.0        46
20.0       33
8.0        31
15.0       20
7.0        18
9.0        18
12.0       14
100.0      14
30.0       12
50.0       11
25.0       10
17.0        5
14.0        4
200.0       4
16.0        4
70.0        4
1000.0      3
18.0        3
75.0        3
11.0        2
22.0        2
150.0       2
21.0        2
433.0       1
500.0       1
225.0       1
26.0        1
36.0        1
700.0       1
250.0       1
28.0        1
19.0        1
45.0        1
120.0       1
999.0       1
29.0        1
300.0       1
40.0        1
35.0        1
23.0        1
60.0        1
66.0        1
Name: count, dtype: int64

Value counts for column 'w3_past_partners_gender_3':
w3_past_partners_gender_3
0.0     1390
1.0       21
2.0        6
3.0        3
20.0       1
5.0        1
6.0        1
Name: count, dtype: int64

Value counts for column 'w3_move_in_yr':
w3_move_in_yr
2021.0    9
2020.0    5
2022.0    2
Name: count, dtype: int64

Value counts for column 'w3_move_in_mo':
w3_move_in_mo
11.0    4
9.0     2
12.0    2
6.0     2
7.0     1
2.0     1
1.0     1
10.0    1
5.0     1
4.0     1
Name: count, dtype: int64

Value counts for column 'w3_when_married_yr':
w3_when_married_yr
2021.0    13
2020.0     4
2022.0     3
Name: count, dtype: int64

Value counts for column 'w3_when_married_month':
w3_when_married_month
12.0    5
10.0    4
9.0     2
6.0     2
4.0     2
3.0     1
2.0     1
1.0     1
5.0     1
7.0     1
11.0    1
Name: count, dtype: int64

Value counts for column 'w3_why_not_cohab':
w3_why_not_cohab
2.0    68
1.0    47
3.0    10
Name: count, dtype: int64

Value counts for column 'w3_how_often':
w3_how_often
1.0    79
2.0    28
5.0     5
6.0     4
4.0     2
3.0     1
Name: count, dtype: int64

Value counts for column 'w3_how_communicate_1':
w3_how_communicate_1
1.0    87
0.0    31
Name: count, dtype: int64

Value counts for column 'w3_how_communicate_2':
w3_how_communicate_2
0.0    84
1.0    34
Name: count, dtype: int64

Value counts for column 'w3_how_communicate_3':
w3_how_communicate_3
0.0    104
1.0     14
Name: count, dtype: int64

Value counts for column 'w3_how_communicate_4':
w3_how_communicate_4
1.0    86
0.0    32
Name: count, dtype: int64

Value counts for column 'w3_how_communicate_5':
w3_how_communicate_5
0.0    111
1.0      7
Name: count, dtype: int64

Value counts for column 'w3_flirt':
w3_flirt
6.0    651
2.0    211
5.0    199
1.0    117
4.0     93
3.0     77
Name: count, dtype: int64

Value counts for column 'w3_flirt_other':
w3_flirt_other
6.0    1435
5.0     138
2.0      45
4.0      39
3.0      25
1.0      23
Name: count, dtype: int64

Value counts for column 'w3_fight':
w3_fight
1.0    777
2.0    301
3.0    129
4.0     56
5.0     23
8.0     16
7.0     11
6.0      9
Name: count, dtype: int64

Value counts for column 'w3_shelter':
w3_shelter
1.0    764
4.0    506
3.0    291
2.0    139
Name: count, dtype: int64

Value counts for column 'w3_shelter_4':
w3_shelter_4
22.0    118
12.0     69
2.0      57
3.0      48
6.0      43
18.0     33
4.0      22
14.0     17
10.0     14
20.0     12
5.0      11
16.0     10
8.0       9
15.0      9
9.0       7
11.0      7
1.0       6
7.0       6
13.0      3
19.0      3
21.0      1
17.0      1
Name: count, dtype: int64

Value counts for column 'w3_nonshelter':
w3_nonshelter
2.0    332
1.0    291
3.0    131
Name: count, dtype: int64

Value counts for column 'w3_shelter_combo_months':
w3_shelter_combo_months
0.00     764
0.75     291
0.25     139
22.00    118
12.00     69
2.00      57
3.00      48
6.00      43
18.00     33
4.00      22
14.00     17
10.00     14
20.00     12
5.00      11
16.00     10
15.00      9
8.00       9
11.00      7
9.00       7
7.00       6
1.00       6
19.00      3
13.00      3
21.00      1
17.00      1
Name: count, dtype: int64

Value counts for column 'w3_WFH':
w3_WFH
4.0    607
5.0    465
1.0    406
2.0    195
3.0     25
Name: count, dtype: int64

Value counts for column 'w3_more_WFH':
w3_more_WFH
0.0    1292
1.0     406
Name: count, dtype: int64

Value counts for column 'w3_WFH_future':
w3_WFH_future
5.0    656
4.0    387
1.0    346
2.0    242
3.0     67
Name: count, dtype: int64

Value counts for column 'w3_myhealth':
w3_myhealth
2.0    1128
1.0     585
Name: count, dtype: int64

Value counts for column 'w3_myhealth_why_1':
w3_myhealth_why_1
1.0    370
0.0    211
Name: count, dtype: int64

Value counts for column 'w3_myhealth_why_2':
w3_myhealth_why_2
1.0    297
0.0    284
Name: count, dtype: int64

Value counts for column 'w3_subject_had_COVID':
w3_subject_had_COVID
0.0    1343
1.0     370
Name: count, dtype: int64

Value counts for column 'w3_corona_vaccine':
w3_corona_vaccine
1.0    1119
2.0     294
4.0     277
3.0      14
Name: count, dtype: int64

Value counts for column 'w3_partner_corona_vaccine':
w3_partner_corona_vaccine
1.0    886
2.0    223
3.0    150
4.0     84
Name: count, dtype: int64

Value counts for column 'w3_vaccine_same':
w3_vaccine_same
1.0    1002
0.0     340
Name: count, dtype: int64

Value counts for column 'w3_corona_test':
w3_corona_test
2.0    822
3.0    513
1.0    375
Name: count, dtype: int64

Value counts for column 'w3_parthealth':
w3_parthealth
2.0    873
1.0    506
Name: count, dtype: int64

Value counts for column 'w3_parthealth_why_1':
w3_parthealth_why_1
1.0    329
0.0    173
Name: count, dtype: int64

Value counts for column 'w3_parthealth_why_2':
w3_parthealth_why_2
0.0    261
1.0    241
Name: count, dtype: int64

Value counts for column 'w3_partner_had_COVID':
w3_partner_had_COVID
0.0    1050
1.0     329
Name: count, dtype: int64

Value counts for column 'w3_partcorona_test':
w3_partcorona_test
2.0    641
3.0    411
1.0    319
Name: count, dtype: int64

Value counts for column 'w3_pandemic_income':
w3_pandemic_income
3.0    1168
2.0     255
4.0     161
1.0      99
5.0      29
Name: count, dtype: int64

Value counts for column 'w3_pandemic_income_collapsed':
w3_pandemic_income_collapsed
3.0    1168
2.0     354
4.0     190
Name: count, dtype: int64

Value counts for column 'w3_covid_masking':
w3_covid_masking
1.0    1265
2.0     340
3.0     105
Name: count, dtype: int64

Value counts for column 'w3_COVID_agreement':
w3_COVID_agreement
1.0    915
2.0    372
3.0     26
4.0     10
Name: count, dtype: int64

Value counts for column 'w3_covid_complete_agree':
w3_covid_complete_agree
1.0    915
0.0    408
Name: count, dtype: int64

Value counts for column 'w3_government_response':
w3_government_response
3.0    692
2.0    555
1.0    456
Name: count, dtype: int64

Value counts for column 'w3_relatives':
w3_relatives
0.0     471
2.0     245
1.0     188
4.0     157
3.0     140
5.0     131
6.0      88
10.0     68
8.0      51
7.0      42
20.0     20
12.0     19
9.0      17
15.0     10
11.0      7
25.0      7
50.0      5
13.0      3
14.0      2
30.0      2
16.0      1
33.0      1
26.0      1
17.0      1
Name: count, dtype: int64

Value counts for column 'w3_relationship_end_combo':
w3_relationship_end_combo
0.0    1623
2.0      62
3.0      27
1.0      10
Name: count, dtype: int64

Value counts for column 'w3_who_breakup':
w3_who_breakup
1.0    29
3.0    26
2.0    17
Name: count, dtype: int64

Value counts for column 'w3_women_wanted_breakup':
w3_women_wanted_breakup
0.5    23
1.0    20
0.0    12
Name: count, dtype: int64

Value counts for column 'w3_partner_type_for_het_breakups':
w3_partner_type_for_het_breakups
1.0    2076
2.0     385
3.0     334
Name: count, dtype: int64

Value counts for column 'w3_breakup_year':
w3_breakup_year
2021.0    34
2020.0    22
2022.0    13
2018.0     6
2017.0     4
1998.0     1
2000.0     1
2019.0     1
Name: count, dtype: int64

Value counts for column 'w3_breakup_month':
w3_breakup_month
3.0     11
2.0     10
9.0      9
12.0     9
11.0     8
10.0     8
1.0      7
4.0      6
7.0      4
8.0      3
5.0      2
6.0      1
Name: count, dtype: int64

Value counts for column 'w3_partner_passaway_year':
w3_partner_passaway_year
2020.0    11
2021.0     8
2019.0     3
2017.0     2

In [28]:
most_common_valuesdf = df[stayed_with_same_partner_fromw1]
comb_con10 = stayed_with_same_partner_fromw1 
#& ~partner_earned_more

print(df[comb_con10].shape)

print(most_common_values)

# Print the most common value for each column
for column, value in most_common_values.items():
    print(f"The most common value in column '{column}' is: {value}")

(1096, 725)

NameError: name 'most_common_values' is not defined

In [ ]:


# Assuming df is your DataFrame

# Filter DataFrame based on the condition
most_common_values_df = df[stayed_with_same_partner_fromw1]

print(most_common_valuesdf.loc[most_common_valuesdf['w1_q23'] == 2])
      

# Create an empty dictionary to store the most common value and its count for each column
most_common_values = {}

# Iterate through each column in the DataFrame
for column in most_common_values_df.columns:
    # Find the most common value in the current column
    mode_result = most_common_values_df[column].mode()
    if not mode_result.empty:
        most_common_value = mode_result.iloc[0]
        # Count occurrences of the most common value
        count_most_common_value = most_common_values_df[column].value_counts()[most_common_value]
        # Store the most common value and its count in the dictionary
        most_common_values[column] = {'most_common_value': most_common_value, 'count': count_most_common_value}
    else:
        most_common_values[column] = {'most_common_value': None, 'count': 0}

# Sort the dictionary by count in descending order
sorted_most_common_values = sorted(most_common_values.items(), key=lambda x: x[1]['count'], reverse=True)

# Print the sorted most common values
for column, values in sorted_most_common_values:
    print(f"Column '{column}': Most common value: {values['most_common_value']}, Count: {values['count']}")

In [ ]:
#check if there are really 0 partners that earned more

#check the w1->w3
#check the w1->w2
#relationship quality
# total should be = w1->w3 + w1->w2 + w2->w3 + those unpartnered for whole thing
#relationship good, length of relationship -> tiebreakers